// html{
//     height: 343px;
// }
h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 4rem;
    color: #7A9D54;
    margin: 30px;
}

body{
    border: 5px solid white;
    border-radius: 100px;
    background: #ffc4c4;
    // background: #FCAEAE;
    margin: 50px 50px 50px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    // background-image: url("../images/background1.jpeg");
    // background-size:cover;
}

li{
    list-style: none;
}
// .game-board{
//     cursor: url('../images/mallet1-removebg-preview.png'), auto;
// }


.btn{
    background-color: #E1ECC8;
    border-radius: 12px;
    border: 2px solid #A0C49D;
    padding: 15px 32px;
    font-size: 16px;
    margin: 10px;
}

.container{
    text-align:center;
}
.controller-menu{
    text-align: center;
    display: inline-block;

}

.display{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5rem;
    color: #FF6666;
    display: inline-block;
    // margin: 20px;
}

.farm{
    cursor: url('../images/mallet1-removebg-preview.png')50 60, auto;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 800px;
    height: 450px;
    // width: 60%;
    // height: 70%;
    background-image: url("../images/grass.png");
    background-size: cover;
}

.hole{
    float: left;
    width: 200px;
    height:100px;
    // width: 20%;
    // height: 20%;
    margin-top: 120px;
    margin-left: 30px;

    // border: 2px solid;
    background-size: contain;
    background-image: url("../images/hole.png");
}

.loopy{
    position: relative;
    // border: 2px solid;
    margin-top: -50px;
    margin-left: 50px;
    width: 100px;
    height:100px;
    background-size: contain;
    background-image: url("../images/loopy-removebg-preview.png");
    transform-origin: center bottom;
    transform: scaleY(0);
}


.showUp{
    animation-name: showUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showUp {
    from {
        transform: scaleY(0);
      }

      to {
        transform: scaleY(1);
      }
}


.hidden{
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    from {
        transform: scaleY(1);
      }

      to {
        transform: scaleY(0);
      }
}

.cute_zhuzhuILoveU {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    padding: 10px;

  }

  .cute_zhuzhuILoveU img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
  }
